.ct-card {
    width: 306px;
    height: 347px;
    border-radius: 10px;
    background-color: var(--color-card-background);
}

.ct-card img {
    width: 220.72px;
    height: 165;
}

.ct-card h2 {
    font-size: 18px;
    color: var(--color-title-card);
}

.ct-card p {
    font-size: 14px;
    font-style: italic;
    margin: 0px 20px 40px 20px;
    color: var(--color-text-card);
}

.ct-title-card {
    text-align: center;
    margin-bottom: 10px;
}

.ct-buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 258px;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--color-button-blue);
    color: var(--color-bg-primary);
}

.ct-aligned-card {
    display: flex;
    justify-content: center;
}

